{% extends 'base.html' %}

{% block title %}{{ presenter.media.romaji }} | {{ username }} manga review{% endblock %}

{% block extrahead %}
{% if presenter.number_of_activities >= 50 %}
<script src="{{ url_for('static',filename='js/activity_loader.js') }}"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="relative text-4xl z-10">
    <div class="fixed p-8 top-0 left-0">
        <a href="/{{ presenter.index_status }}">
            <i class="fa-solid fa-circle-chevron-left custom-colour bg-white rounded-full p-1"></i>
        </a>
    </div>
</div>

<div class="relative z-[-10]">
    <div id="bg-img" class="fixed left-0 top-0 w-full h-[150px] min-h-[150px] sm:h-[300px] bg-no-repeat bg-cover bg-center"></div>
</div>

<div class="bg-black/50 rounded mx-auto max-w-7xl p-4 mt-[150px] sm:mt-[310px] backdrop-blur-lg">
    <div class="flex flex-col sm:flex-row gap-4">
        <div id="cover-img" class="rounded min-w-[150px] w-[150px] h-[225px] bg-no-repeat bg-cover bg-center"></div>
        <div class="flex-col w-full">
            <div class="flex flex-row justify-between">
                <div class="flex gap-4 items-center">
                    <h1 class="text-2xl font-bold">{{ presenter.media.romaji }}</h1>
                    <a href="https://anilist.co/manga/{{ presenter.media.id }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
                <div class="flex gap-4">
                    {% if presenter.collecting %}
                        <i class="fa-solid fa-bookmark custom-colour"></i>
                    {% endif %}
                    {% if presenter.favourite %}
                        <i class="fa-solid fa-heart custom-colour"></i>
                    {% endif %}
                </div>
            </div>
            {% if presenter.media.english_title %}
                <p class="font-thin">{{ presenter.media.english_title }}</p>
            {% endif %}
            <hr class="border-t-2 border-dashed custom-colour my-4">
            <p>Progress: {{ presenter.progress }} / {{ presenter.get_maximum() }}</p>
            <p>Status: {{ presenter.media.status.lower() }}</p>
            <p>Volumes: {{ presenter.media.volumes if presenter.media.volumes else "?" }}</p>
            <div class="flex flex-wrap gap-2 my-2">
                {% for demograph in presenter.media.demographs() %}
                    <p class="rounded-md py-1 px-2 bg-custom-colour font-bold text-sm">{{ demograph.name }}</p>
                {% endfor %}
                {% for genre in presenter.media.genres %}
                    <p class="rounded-md py-1 px-2 bg-custom-colour font-bold text-sm">{{ genre }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if time_range != None %}
        <div class="mt-8 flex justify-center">
            <p>{{ time_range.days }} days</p>
        </div>
        <div class="flex items-center">
            <div class="flex flex-col items-center gap-4 w-max">
                <div class="rounded-full h-4 w-4 bg-custom-colour"></div>
            </div>
            <hr class="border-2 custom-colour my-4 w-full">
            <div class="flex flex-col items-center gap-4 w-max">
                <div class="rounded-full h-4 w-4 bg-custom-colour"></div>
            </div>
        </div>
        <div class="mb-8 flex justify-between">
            <p>{{ presenter.started_at.strftime("%B %d, %Y") }}</p>
            <p>{{ completed_at_or_today.strftime("%B %d, %Y") }}</p>
        </div>
    {% endif %}

    <div class="my-8">
        <h3 class="text-2xl font-bold mb-4">Description:</h3>
        {{ presenter.media.description | safe }}
        <hr class="border-t-2 border-dashed custom-colour my-4">
    </div>
    <div class="grid grid-cols-1 grid-flow-row-dense gap-4 sm:grid-cols-2 my-8">
        <div class="col-span-1">
            <h3 class="text-2xl font-bold mb-4">Review:</h3>
            <p>{{ review_content }}</p>
        </div>
        <div class="col-span-1 sm:order-last order-first">
            <div class="mb-4">
                <h3 class="text-2xl font-bold mb-4">Progress:</h3>
                <div class="flex flex-col items-center">
                    {{ progress_knob.to_html() | safe }}
                </div>
            </div>
            <div class="mb-4">
                <h3 class="text-2xl font-bold mb-4">Rating:</h3>
                <div class="flex justify-center">
                    {{ score_knob.to_html() | safe }}
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-2xl font-bold mb-4">Timeline:</h3>
    <div id="activities"
         class="flex gap-8 w-full overflow-x-auto pb-4"
         data-activities-base-url="/manga/{{ presenter.media.id }}/activities/">
        {% for activity in presenter.activities %}
        <div class="flex flex-col gap-4 items-center justify-center h-[200px] min-w-[265px] border-2 rounded-md" style="border-color: {{ activity.colour }}; color: {{ activity.colour }};">
            <p class="font-thin tracking-widest uppercase">{{ activity.status }}</p>
            {% if activity.progress %}
            <p class="text-4xl font-bold">{{ activity.progress }}</p>
            {% endif %}
            <p class="font-thin tracking-widest uppercase">{{ activity.created_at.strftime("%B %d %Y, %H:%M") }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    const bannerImage = "{{ presenter.media.banner_image }}";
    const coverImage = "{{ presenter.media.cover_image }}";
    const color = "{{ presenter.media.color }}"

    const bgImg = document.getElementById("bg-img");
    bgImg.style = `background-image: url('${bannerImage}')`;
    const coverImg = document.getElementById("cover-img");
    coverImg.style = `background-image: url('${coverImage}')`;
    const colouredElements = document.getElementsByClassName("custom-colour");
    const backgroundColouredElements = document.getElementsByClassName("bg-custom-colour");
    for (let element of colouredElements) {
        element.style = `border-color: ${color}; color: ${color};`;
    }
    for (let element of backgroundColouredElements) {
        element.style = `background-color: ${color};`;
    }
</script>
{% endblock %}
